In [15]:
import pandas as pd
data=pd.read_csv('beauty.csv')

In [17]:
data.columns = ['time', 'itemID', 
            'itemname', 'price', 
            'salenum',
    'commentnum','brand','totalsale']

In [18]:
data=data.drop_duplicates(subset=None, keep='first', inplace=False)

In [19]:
data.shape

(27511, 8)

In [20]:
data.dtypes

time           object
itemID         object
itemname       object
price         float64
salenum       float64
commentnum    float64
brand          object
totalsale     float64
dtype: object

In [21]:
cat=['time','itemID','itemname','brand']
num=['price','salenum','commentnum','totalsale']

In [26]:
# Impute NA values for categorical values
from sklearn.impute import SimpleImputer
import numpy as np
imp_na = SimpleImputer(strategy = "constant", missing_values=np.nan, fill_value = "N/A")
imp_na.fit(data[cat])
data[cat]=imp_na.transform(data[cat])

impute mean values for nan numerical values

In [28]:
data=data.fillna(data.mean())

In [29]:
data.head()

,time,itemID,itemname,price,salenum,commentnum,brand,totalsale
0,11/14/16,A18177105952,CHANDO/自然堂凝时鲜颜肌活乳液120ML 淡化细纹补水滋润专柜正品,194.0,8122.0,1492.0,自然堂,1575668.0
1,11/14/16,A18177226992,CHANDO/自然堂活泉保湿修护精华水（滋润型135ml 补水控油爽肤水,99.0,12668.0,589.0,自然堂,1254132.0
2,11/14/16,A18178033846,CHANDO/自然堂 男士劲爽控油洁面膏 100g 深层清洁 男士洗面奶,38.0,25805.0,4287.0,自然堂,980590.0
3,11/14/16,A18178045259,CHANDO/自然堂雪域精粹纯粹滋润霜（清爽型）50g补水保湿滋润霜,139.0,5196.0,618.0,自然堂,722244.0
4,11/14/16,A18178129035,自然堂 雪域纯粹滋润洗颜霜 110g 补水保湿 洗面奶女 深层清洁,88.0,42858.0,8426.0,自然堂,3771504.0

In [30]:
data.to_csv('./beauty11.csv')